---
const currentPath = Astro.url.pathname;
---

<header class="header">
  <div class="container">
    <nav aria-label="Main Navigation">
      <a href="#home" class="logo" aria-label="logo">
        <svg
          class="logo-icon"
          viewBox="0 0 44 72"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#a)">
            <path
              d="M65.885 59.283q-.809 0-.809-.954V14.772q0-.954.81-.954H71.2q.81 0 .809.954v18.44L86.452 14.39q.52-.572 1.04-.572h6.759q.75 0 .75.572a.83.83 0 0 1-.23.572l-15.31 19.14 16.58 24.036q.232.255.232.572 0 .255-.231.445a1.06 1.06 0 0 1-.52.128h-6.76q-.75 0-1.04-.573L74.899 39.698l-2.889 3.434v15.197q0 .954-.809.954z"
              fill="#fff"></path>
            <path
              d="M97.431 28.952q4.449-3.37 11.323-3.37 5.604 0 8.781 3.242 3.236 3.18 3.236 9.666v18.567q0 .764-.636 1.081-2.426.827-5.546 1.335a33 33 0 0 1-6.066.573q-5.604 0-9.243-2.544t-3.64-8.075q0-5.024 3.409-7.567 3.466-2.607 9.243-2.607 2.311 0 5.777.508v-1.208q0-3.433-1.329-4.896-1.27-1.526-4.448-1.526-2.079 0-4.044.572-1.906.51-3.351 1.463-.288.19-.52.19-.404 0-.635-.445l-2.311-3.878q-.405-.7 0-1.081m4.968 20.411q0 2.162 1.676 3.243 1.675 1.017 4.448 1.017 2.657 0 5.546-.763v-7.185q-3.12-.51-5.604-.509-6.066 0-6.066 4.197m30.13-31.666q0 1.78-1.098 2.988-1.04 1.209-2.657 1.209-1.618 0-2.716-1.209-1.097-1.207-1.097-2.988t1.097-2.925q1.098-1.208 2.716-1.208 1.675 0 2.715 1.144 1.04 1.145 1.04 2.989m-6.297 41.586q-.867 0-.867-.954V27.235q0-.89.867-.89h5.026q.809 0 .809.89v31.094q0 .954-.809.954zm29.012-32.048q0-.89.866-.89h4.969q.866 0 .866.89v29.95q0 7.438-3.177 11.127Q155.648 72 149.062 72q-3.639 0-6.355-.954-2.715-.954-4.968-3.052-.347-.255-.347-.636 0-.254.174-.636l2.484-3.878q.288-.51.635-.51.23 0 .463.191 3.87 2.925 7.856 2.926 3.236 0 4.853-1.908 1.618-1.844 1.444-6.359-3.35 1.145-6.181 1.145-3.12 0-5.95-1.463-2.832-1.462-4.622-4.387t-1.791-7.122V27.235q0-.89.866-.89h5.027q.808 0 .808.89v17.804q0 3.498 1.907 5.087 1.964 1.526 4.968 1.526 1.33 0 2.6-.318 1.329-.381 2.311-.954zm37.067 19.966q0 5.915-3.582 9.411-3.582 3.435-9.59 3.434t-9.59-3.434q-3.582-3.497-3.582-9.41V38.68q0-5.978 3.582-9.539t9.59-3.56 9.59 3.56 3.582 9.539zm-19.585 0q0 3.052 1.618 4.642 1.675 1.59 4.795 1.59t4.737-1.59q1.675-1.59 1.675-4.642v-8.52q0-3.116-1.675-4.77-1.675-1.716-4.737-1.716-3.12 0-4.795 1.653-1.618 1.653-1.618 4.833zm47.595-20.856q.867 0 .867.89v29.123q0 .825-.636 1.144-5.257 2.544-11.323 2.544-6.181 0-9.706-3.498-3.524-3.496-3.524-10.81V27.236q0-.89.867-.89h5.026q.809 0 .809.89V45.61q0 4.26 1.617 6.041 1.675 1.78 4.911 1.78 3.293 0 5.257-.762V27.235q0-.89.809-.89zm44.57 20.03q0 4.578-2.138 7.694-2.137 3.052-5.719 4.514t-7.973 1.463q-4.217 0-7.683-1.463-3.41-1.462-7.048-4.642-.347-.38-.347-.763 0-.318.173-.572l2.889-4.451q.231-.381.635-.382.29 0 .52.191 2.947 2.354 5.604 3.561 2.715 1.208 5.546 1.272 3.466 0 5.893-1.59 2.484-1.653 2.484-4.705 0-2.162-1.213-3.434-1.213-1.336-3.12-2.035-1.906-.699-5.026-1.399-6.008-1.398-10.052-4.45-3.987-3.117-3.986-9.475 0-6.295 4.332-9.475 4.391-3.18 11.093-3.18 3.696 0 6.874 1.21 3.178 1.143 6.702 3.814.404.255.404.7 0 .255-.173.572l-2.773 4.387q-.29.382-.636.382-.23 0-.577-.19-4.911-3.498-10.341-3.689-3.697 0-5.778 1.526-2.079 1.463-2.079 4.07 0 1.907 1.04 3.116 1.097 1.144 2.83 1.844 1.791.7 4.911 1.462 4.39 1.08 7.452 2.48 3.063 1.336 5.142 4.197 2.138 2.798 2.138 7.44m27.798-1.335q0 .89-.866.89H274.26v1.78q0 2.861 1.618 4.387 1.675 1.463 4.506 1.463 2.484 0 4.391-.763 1.906-.764 3.755-2.162.288-.19.52-.191.404 0 .635.382l2.369 3.497a.83.83 0 0 1 .231.572q0 .51-.405.763-5.025 4.388-11.727 4.388-3.408 0-6.297-1.336-2.83-1.398-4.622-4.196-1.733-2.799-1.733-6.868v-9.03q0-4.45 1.791-7.375t4.679-4.26q2.889-1.4 6.24-1.4 3.35 0 6.181 1.4 2.831 1.335 4.564 4.26t1.733 7.376zm-6.528-6.487q0-3.306-1.675-4.896t-4.275-1.59q-2.716 0-4.333 1.59-1.618 1.527-1.618 4.896v1.654h11.901zm11.058 20.73q-.866 0-.866-.954v-29.25q0-.827.635-1.081a17.9 17.9 0 0 1 4.795-1.78 22.8 22.8 0 0 1 5.315-.636q2.946 0 5.893.508.751.064.751.954v4.578q0 .445-.289.636-.231.191-.635.127-1.445-.255-4.68-.254-3.177 0-5.084.89V58.33q0 .954-.866.954zm19.579 0q-.866 0-.866-.954v-29.25q0-.827.635-1.081a17.9 17.9 0 0 1 4.795-1.78 22.8 22.8 0 0 1 5.315-.636q2.947 0 5.893.508.751.064.751.954v4.578q0 .445-.289.636-.231.191-.635.127-1.445-.255-4.68-.254-3.177 0-5.084.89V58.33q0 .954-.866.954zm17.862-30.331q4.449-3.37 11.324-3.37 5.603 0 8.781 3.242Q358 32.005 358 38.49v18.567q0 .764-.635 1.081-2.427.827-5.547 1.335a33 33 0 0 1-6.065.573q-5.604 0-9.244-2.544t-3.639-8.075q0-5.024 3.408-7.567 3.466-2.607 9.243-2.607 2.312 0 5.778.508v-1.208q0-3.433-1.329-4.896-1.27-1.526-4.449-1.526-2.079 0-4.044.572-1.905.51-3.35 1.463-.29.19-.52.19-.405 0-.636-.445l-2.311-3.878q-.404-.7 0-1.081m4.969 20.411q0 2.162 1.675 3.243 1.676 1.017 4.449 1.017 2.657 0 5.546-.763v-7.185q-3.12-.51-5.604-.509-6.066 0-6.066 4.197"
              fill="#fff"></path>
            <path
              d="M42.46 7c.71 0 1.285.633 1.285 1.413v6.715c0 .78-.575 1.413-1.284 1.413h-1.01v-.007h-1.124q-2.41 0-3.883 1.674-1.472 1.601-1.472 4.732v4.003q0 4.365-2.41 6.913a11.6 11.6 0 0 1-2.586 1.991q1.443.879 2.585 2.085 2.41 2.475 2.411 6.769v4.294q0 3.202 1.472 4.804 1.474 1.601 3.883 1.602h1.123v-.007h1.01c.71 0 1.285.633 1.285 1.413v6.715c0 .78-.575 1.413-1.284 1.413h-4.476q-4.284 0-7.565-1.674-3.213-1.674-5.021-5.022-1.808-3.275-1.808-8.152v-4.64q-.038-2.106-1.27-3.218-1.195-1.223-3.046-1.233l-.331-.013h-1.912c-.189 0-.342-.206-.343-.458v-9.401c0-.252.154-.458.343-.458h2.255q1.844-.101 3.034-1.408 1.232-1.368 1.27-3.233v-4.177q0-4.803 1.808-8.08 1.874-3.347 5.088-5.021Q33.767 7 37.985 7zM10.27 8.413c.71 0 1.284.633 1.284 1.413V62.11c0 .78-.575 1.413-1.284 1.413H1.284C.574 63.523 0 62.89 0 62.11V9.826c0-.78.575-1.413 1.284-1.413z"
              fill="#fd3"></path>
          </g>
          <defs>
            <clipPath id="a">
              <path fill="#fff" d="M0 0h44v72H0z"></path>
            </clipPath>
          </defs>
        </svg>
        <svg
          class="logo-full"
          viewBox="0 0 358 72"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M65.885 59.283q-.809 0-.809-.954V14.772q0-.954.81-.954H71.2q.81 0 .809.954v18.44L86.452 14.39q.52-.572 1.04-.572h6.759q.75 0 .75.572a.83.83 0 0 1-.23.572l-15.31 19.14 16.58 24.036q.232.255.232.572 0 .255-.231.445a1.06 1.06 0 0 1-.52.128h-6.76q-.75 0-1.04-.573L74.899 39.698l-2.889 3.434v15.197q0 .954-.809.954z"
            fill="#fff"></path>
          <path
            d="M97.431 28.952q4.449-3.37 11.323-3.37 5.604 0 8.781 3.242 3.236 3.18 3.236 9.666v18.567q0 .764-.636 1.081-2.426.827-5.546 1.335a33 33 0 0 1-6.066.573q-5.604 0-9.243-2.544t-3.64-8.075q0-5.024 3.409-7.567 3.466-2.607 9.243-2.607 2.311 0 5.777.508v-1.208q0-3.433-1.329-4.896-1.27-1.526-4.448-1.526-2.079 0-4.044.572-1.906.51-3.351 1.463-.288.19-.52.19-.404 0-.635-.445l-2.311-3.878q-.405-.7 0-1.081m4.968 20.411q0 2.162 1.676 3.243 1.675 1.017 4.448 1.017 2.657 0 5.546-.763v-7.185q-3.12-.51-5.604-.509-6.066 0-6.066 4.197m30.13-31.666q0 1.78-1.098 2.988-1.04 1.209-2.657 1.209-1.618 0-2.716-1.209-1.097-1.207-1.097-2.988t1.097-2.925q1.098-1.208 2.716-1.208 1.675 0 2.715 1.144 1.04 1.145 1.04 2.989m-6.297 41.586q-.867 0-.867-.954V27.235q0-.89.867-.89h5.026q.809 0 .809.89v31.094q0 .954-.809.954zm29.012-32.048q0-.89.866-.89h4.969q.866 0 .866.89v29.95q0 7.438-3.177 11.127Q155.648 72 149.062 72q-3.639 0-6.355-.954-2.715-.954-4.968-3.052-.347-.255-.347-.636 0-.254.174-.636l2.484-3.878q.288-.51.635-.51.23 0 .463.191 3.87 2.925 7.856 2.926 3.236 0 4.853-1.908 1.618-1.844 1.444-6.359-3.35 1.145-6.181 1.145-3.12 0-5.95-1.463-2.832-1.462-4.622-4.387t-1.791-7.122V27.235q0-.89.866-.89h5.027q.808 0 .808.89v17.804q0 3.498 1.907 5.087 1.964 1.526 4.968 1.526 1.33 0 2.6-.318 1.329-.381 2.311-.954zm37.067 19.966q0 5.915-3.582 9.411-3.582 3.435-9.59 3.434t-9.59-3.434q-3.582-3.497-3.582-9.41V38.68q0-5.978 3.582-9.539t9.59-3.56 9.59 3.56 3.582 9.539zm-19.585 0q0 3.052 1.618 4.642 1.675 1.59 4.795 1.59t4.737-1.59q1.675-1.59 1.675-4.642v-8.52q0-3.116-1.675-4.77-1.675-1.716-4.737-1.716-3.12 0-4.795 1.653-1.618 1.653-1.618 4.833zm47.595-20.856q.867 0 .867.89v29.123q0 .825-.636 1.144-5.257 2.544-11.323 2.544-6.181 0-9.706-3.498-3.524-3.496-3.524-10.81V27.236q0-.89.867-.89h5.026q.809 0 .809.89V45.61q0 4.26 1.617 6.041 1.675 1.78 4.911 1.78 3.293 0 5.257-.762V27.235q0-.89.809-.89zm44.57 20.03q0 4.578-2.138 7.694-2.137 3.052-5.719 4.514t-7.973 1.463q-4.217 0-7.683-1.463-3.41-1.462-7.048-4.642-.347-.38-.347-.763 0-.318.173-.572l2.889-4.451q.231-.381.635-.382.29 0 .52.191 2.947 2.354 5.604 3.561 2.715 1.208 5.546 1.272 3.466 0 5.893-1.59 2.484-1.653 2.484-4.705 0-2.162-1.213-3.434-1.213-1.336-3.12-2.035-1.906-.699-5.026-1.399-6.008-1.398-10.052-4.45-3.987-3.117-3.986-9.475 0-6.295 4.332-9.475 4.391-3.18 11.093-3.18 3.696 0 6.874 1.21 3.178 1.143 6.702 3.814.404.255.404.7 0 .255-.173.572l-2.773 4.387q-.29.382-.636.382-.23 0-.577-.19-4.911-3.498-10.341-3.689-3.697 0-5.778 1.526-2.079 1.463-2.079 4.07 0 1.907 1.04 3.116 1.097 1.144 2.83 1.844 1.791.7 4.911 1.462 4.39 1.08 7.452 2.48 3.063 1.336 5.142 4.197 2.138 2.798 2.138 7.44m27.798-1.335q0 .89-.866.89H274.26v1.78q0 2.861 1.618 4.387 1.675 1.463 4.506 1.463 2.484 0 4.391-.763 1.906-.764 3.755-2.162.288-.19.52-.191.404 0 .635.382l2.369 3.497a.83.83 0 0 1 .231.572q0 .51-.405.763-5.025 4.388-11.727 4.388-3.408 0-6.297-1.336-2.83-1.398-4.622-4.196-1.733-2.799-1.733-6.868v-9.03q0-4.45 1.791-7.375t4.679-4.26q2.889-1.4 6.24-1.4 3.35 0 6.181 1.4 2.831 1.335 4.564 4.26t1.733 7.376zm-6.528-6.487q0-3.306-1.675-4.896t-4.275-1.59q-2.716 0-4.333 1.59-1.618 1.527-1.618 4.896v1.654h11.901zm11.058 20.73q-.866 0-.866-.954v-29.25q0-.827.635-1.081a17.9 17.9 0 0 1 4.795-1.78 22.8 22.8 0 0 1 5.315-.636q2.946 0 5.893.508.751.064.751.954v4.578q0 .445-.289.636-.231.191-.635.127-1.445-.255-4.68-.254-3.177 0-5.084.89V58.33q0 .954-.866.954zm19.579 0q-.866 0-.866-.954v-29.25q0-.827.635-1.081a17.9 17.9 0 0 1 4.795-1.78 22.8 22.8 0 0 1 5.315-.636q2.947 0 5.893.508.751.064.751.954v4.578q0 .445-.289.636-.231.191-.635.127-1.445-.255-4.68-.254-3.177 0-5.084.89V58.33q0 .954-.866.954zm17.862-30.331q4.449-3.37 11.324-3.37 5.603 0 8.781 3.242Q358 32.005 358 38.49v18.567q0 .764-.635 1.081-2.427.827-5.547 1.335a33 33 0 0 1-6.065.573q-5.604 0-9.244-2.544t-3.639-8.075q0-5.024 3.408-7.567 3.466-2.607 9.243-2.607 2.312 0 5.778.508v-1.208q0-3.433-1.329-4.896-1.27-1.526-4.449-1.526-2.079 0-4.044.572-1.905.51-3.35 1.463-.29.19-.52.19-.405 0-.636-.445l-2.311-3.878q-.404-.7 0-1.081m4.969 20.411q0 2.162 1.675 3.243 1.676 1.017 4.449 1.017 2.657 0 5.546-.763v-7.185q-3.12-.51-5.604-.509-6.066 0-6.066 4.197"
            fill="#fff"></path>
          <path
            d="M42.46 7c.71 0 1.285.633 1.285 1.413v6.715c0 .78-.575 1.413-1.284 1.413h-1.01v-.007h-1.124q-2.41 0-3.883 1.674-1.472 1.601-1.472 4.732v4.003q0 4.365-2.41 6.913a11.6 11.6 0 0 1-2.586 1.991q1.443.879 2.585 2.085 2.41 2.475 2.411 6.769v4.294q0 3.202 1.472 4.804 1.474 1.601 3.883 1.602h1.123v-.007h1.01c.71 0 1.285.633 1.285 1.413v6.715c0 .78-.575 1.413-1.284 1.413h-4.476q-4.284 0-7.565-1.674-3.213-1.674-5.021-5.022-1.808-3.275-1.808-8.152v-4.64q-.038-2.106-1.27-3.218-1.195-1.223-3.046-1.233l-.331-.013h-1.912c-.189 0-.342-.206-.343-.458v-9.401c0-.252.154-.458.343-.458h2.255q1.844-.101 3.034-1.408 1.232-1.368 1.27-3.233v-4.177q0-4.803 1.808-8.08 1.874-3.347 5.088-5.021Q33.767 7 37.985 7zM10.27 8.413c.71 0 1.284.633 1.284 1.413V62.11c0 .78-.575 1.413-1.284 1.413H1.284C.574 63.523 0 62.89 0 62.11V9.826c0-.78.575-1.413 1.284-1.413z"
            fill="#fd3"></path>
        </svg>
      </a>

      <ul>
        <li>
          <a href="#home" class={currentPath === "/#  " ? "active" : ""}>Home</a>
        </li>
        <li>
          <a
            href="#projects"
            class={currentPath.includes("#projects") ? "active" : ""}
            >Projects</a
          >
        </li>
        <li>
          <a
            href="#contact"
            class={currentPath.includes("#contact") ? "active" : ""}>Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(from var(--color-blue-dark) r g b / 0.6);
    backdrop-filter: blur(10px);
  }

  .header .logo {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-x) * 0.5);
    font-family: var(--font-headline);
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: -0.05em;
    svg {
      height: 2rem;
    }

    .logo-full {
      display: none;
    }

    @media (width > 36.25rem) {
      .logo-icon {
        display: none;
      }

      .logo-full {
        display: block;
      }
    }
  }

  .header nav {
    display: flex;
    row-gap: var(--spacing-y);
    column-gap: var(--spacing-x);
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
  }

  .header nav ul {
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
  }

  @media (min-width: 600px) {
    .header nav ul {
      justify-content: flex-start;
      max-width: var(--content-width);
      padding-inline: 1.5rem;
    }
  }

  .header nav li {
    margin: 0;
    padding: 0%;
  }

  .header nav li a {
    font-family: var(--font-text);
    font-weight: 500;
    color: var(--color-text);
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    border: 1px solid rgba(from var(--color-primary) r g b / 0.2);
    &:hover,
    &:focus-visible {
      color: var(--color-primary-light);
      background: #ffffff0d;
    }

    &.active {
      color: var(--color-primary-light);
      background: var(--color-primary-bg);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll(".header nav a");

    navLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        const targetHref = link.getAttribute("href");
        const currentPath = window.location.pathname;

        if (targetHref === currentPath) {
          e.preventDefault();
          window.scrollTo(0, 0);
        }
      });
    });
  });
  
  document.addEventListener('DOMContentLoaded', () => {
    const sections = document.querySelectorAll('section[id]');
    const navLinks = document.querySelectorAll('nav a');
    const observerOptions = {
      root: null,
      rootMargin: '-20% 0px -80% 0px', 
      threshold: 0
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const currentId = entry.target.getAttribute('id');
          
          navLinks.forEach(link => {
            link.classList.remove('active');
            if (link.getAttribute('href') === `#${currentId}`) {
              link.classList.add('active');
            }
          });
        }
      });
    }, observerOptions);

    sections.forEach(section => observer.observe(section));
  });
</script>
